.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #B09254;
    color: #fff;
    font-size: 1em;
}

.imgCart{
    width: 70px;
    mix-blend-mode: multiply;
  }

  .tabla {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
  }