.ItemList {
background-color: grey;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 10%;
   font-size: 50px;
   text-align: center;
   color: white;
}

.ItemContainer {
	display: block;
   	margin-top: 20px;
	justify-content: center;
	background: rgb(2,0,36);
}

.wall {
   /* columns:4;
   column-gap: 1em; */
   max-width: 800px;
   display: block;
   margin: auto;
   padding-top: 60px;
 }