
 .foot {
    background-color: black;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       margin-top: 80px;
       padding: 2%;
       font-size: 15px;
       text-align: center;
       color: white;
    }
